@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #68c4d4, #568fa4);
    background-attachment: fixed;
    height: 100%;
}

main{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #436a70;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#568ea3;
    text-align: center;
}

h2{
    color:#68C3D4;
    text-align: center;
}

p{
    text-align: justify;
}