table{
    width: 300px;
    text-align: center;
    border-collapse: collapse;
}
table th, tr, td{
    border: 1px black solid;
    padding: 1em;
}
table th{
    color: white;
    background-color: gray;
}
table td:hover{
    font-weight: bold;
    background-color: yellow;
}